NodeRed/localSensorDev.json
[{"id":"6e6192b8.49cf5c","type":"debug","z":"b29fb6b2.64db18","name":"","active":true,"console":"false","complete":"payload","x":581,"y":137,"wires":[]},{"id":"125dd3c0.8a70ec","type":"websocket out","z":"b29fb6b2.64db18","name":"SensorData Web Socket","server":"","client":"3bb9c924.152ca6","x":588,"y":308,"wires":[]},{"id":"22707503.c21b9a","type":"inject","z":"b29fb6b2.64db18","name":"key 1 true","topic":"","payload":"{ \t\t\"type\": \"panic\", \t\t\"key1\": \"1\", \t\t\"deviceId\": \"001\" \t}  ","payloadType":"json","repeat":"","crontab":"","once":false,"x":132,"y":143,"wires":[["125dd3c0.8a70ec","6e6192b8.49cf5c"]]},{"id":"10a5ca04.6c14c6","type":"inject","z":"b29fb6b2.64db18","name":"key 1 false","topic":"","payload":"{ \t\"payload\": { \t\t\"type\": \"none\", \t\t\"key1\": \"0\", \t\t\"deviceId\": \"001\" \t}  }","payloadType":"json","repeat":"","crontab":"","once":false,"x":127,"y":256,"wires":[["125dd3c0.8a70ec","6e6192b8.49cf5c"]]},{"id":"3bb9c924.152ca6","type":"websocket-client","z":"b29fb6b2.64db18","path":"ws://167b0a85.ngrok.io/sensorDataUser","wholemsg":"false"}]




[{"id":"6e6192b8.49cf5c","type":"debug","z":"b29fb6b2.64db18","name":"","active":true,"console":"false","complete":"payload","x":581,"y":137,"wires":[]},{"id":"125dd3c0.8a70ec","type":"websocket out","z":"b29fb6b2.64db18","name":"SensorData Web Socket","server":"","client":"3bb9c924.152ca6","x":588,"y":308,"wires":[]},{"id":"22707503.c21b9a","type":"inject","z":"b29fb6b2.64db18","name":"key 1 true 001","topic":"","payload":"{ \t\t\"type\": \"panic\", \t\t\"key1\": \"1\", \t\"alertmessage\":\"Alert: Panic key 1\",\t\"deviceId\": \"001\" \t}  ","payloadType":"json","repeat":"","crontab":"","once":false,"x":152,"y":143,"wires":[["125dd3c0.8a70ec","6e6192b8.49cf5c"]]},{"id":"10a5ca04.6c14c6","type":"inject","z":"b29fb6b2.64db18","name":"key 1 false 001","topic":"","payload":"{ \t\"payload\": { \t\t\"type\": \"none\", \t\t\"key1\": \"0\", \t\t\"deviceId\": \"001\" \t}  }","payloadType":"json","repeat":"","crontab":"","once":false,"x":147,"y":256,"wires":[["125dd3c0.8a70ec","6e6192b8.49cf5c"]]},{"id":"8e303542.269a98","type":"inject","z":"b29fb6b2.64db18","name":"key 1 true 002","topic":"","payload":"{ \t\t\"type\": \"panic\", \t\t\"key1\": \"1\", \t\"alertmessage\":\"Alert: Panic key 1\",\t\"deviceId\": \"002\" \t}  ","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":350,"wires":[["6e6192b8.49cf5c","125dd3c0.8a70ec"]]},{"id":"38991faf.47091","type":"inject","z":"b29fb6b2.64db18","name":"key 1 false 002","topic":"","payload":"{ \t\"payload\": { \t\t\"type\": \"none\", \t\t\"key1\": \"0\", \t\t\"deviceId\": \"002\" \t}  }","payloadType":"json","repeat":"","crontab":"","once":false,"x":185,"y":463,"wires":[["6e6192b8.49cf5c","125dd3c0.8a70ec"]]},{"id":"3bb9c924.152ca6","type":"websocket-client","z":"b29fb6b2.64db18","path":"ws://167b0a85.ngrok.io/sensorDataUser","wholemsg":"false"}]